/*
dark navy: #1A1423
grey blue: #556F7A
mint:      #B2E4DB
berry:     #680E4B
slate:     #798086
*/

body {
	margin: 0;
	background-color: #E8F9FF;
	font-family: 'Lato', sans-serif;
	color: #1C2541;
	padding-left: 165px; 
	padding-right: 165px;
}

a {
	color: #680E4B;
	text-decoration: none;
}

header { 
	margin-left: -165px;
	margin-right: -165px;
	background-color: #1A1423; 
	color: #B2E4DB;
	text-align: center;
}

header .breadcrumb {
	list-style: none;
	display: inline-block;
	padding: 0;
}

header .breadcrumb li {
	float: left;
}

header .breadcrumb li.breadcrumb-active a {
	text-decoration: underline;
}

header .breadcrumb li a {
	color: #B2E4DB;
}

header .breadcrumb li:not(:last-child):after {
	content: "|";
	padding: 0 5px;
}
