/*
dark navy: #1A1423
grey blue: #556F7A
mint:      #B2E4DB
berry:     #680E4B
slate:     #798086
*/

body {
	/*padding-top: 70px;*/
	font-family: "Lato", sans-serif;
}

.embed-container {
	padding-left: 20px;
	padding-right: 20px;
}
